<h1>Editing goalkeeper</h1>

<%= render "form", goalkeeper: @goalkeeper %>

<br>

<div>
  <%= link_to "Show this goalkeeper", @goalkeeper %> |
  <%= link_to "Back to goalkeepers", goalkeepers_path %>
</div>
